# Visual Studio left-overs
*.suo
*.ncb
*.user
*.ccscc
*.cache
*.pch
*.sdf
*.opensdf
*.log
*.lib
*.dll
*.obj
*.aps
*.res
*.pdf
*.user
*.pdb
*.filters
_UpgradeReport_*/

# Own conventions
*.lnk
./Magic*.txt
*.rtf

# Editor left-overs, misc
*.bak
*.orig
*.zip
*.tmp
*.TMP
*.temp
*.bin
*.BIN

# Redundant copies
Copy*of*.*
*\ Copy.*
*\ Copy*.*
*\ v80.*.*

# Compiled files
# NOTE: git is case sensitive
bin/
obj/
Obj/
Debug/
DebugU/
DebugR/
DebugUReg/
Release/
ReleaseU/
ReleaseR/
ReleaseUReg/
DemoU/
DemoReleaseU/
Trial/
ipch/

# Events project
EvtGen/*.h
MswEvents.rc

# Project subfolders
RegGen/
Install/
3rd Party/libjingle/
3rd Party/pubnub/
3rd Party/DiskId/
3rd Party/Gloox
3rd Party/Polar
3rd Party/SpeechSdk/
3rd Party/Inno Setup 5/
3rd Party/Sentinel*/
For dynamic*/

# Windows left-overs
Thumbs.db
thumbs.db
